{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

<div class="header">
    <h1>Gloria' Blog</h1>
    <p>Hand books for bioinformatics, statistics and machine learning</p>
  </div>

{% if latest_title_list %}
    {% for title in latest_title_list %}
    <ul> <li><a href="{% url 'blog:detail' title.id %}">{{ title.Title_text }}</a></li></ul>
    {% endfor %}

{% else %}
    <p>No posts are available.</p>
{% endif %}

<div class="footer">
    <p>Copyright @Gloria Contact: gqin at systemsbiology.org</p>
  </div>