{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
<div class="header">
    <h1>Gloria' Blog</h1>
    <p>Hand books for bioinformatics, statistics and machine learning</p>
  </div>

<h1>{{ Title.Title_text }}</h1>
<p><a>{{ Title.Title_text}}</a></p>

{% for paragraph in latest_paragraph_list %}
    <p> <b> {{paragraph.subtitle}}</b></p> </br>
    <pre> {{ paragraph.context }} </pre>
    
    {% endfor %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="footer">
    <p>Copyright @Gloria Contact: gqin at systemsbiology.org</p>
  </div>